* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 25px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 25rem;
    width: 25rem;
    border-radius: 12px;
    color: white;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 25px;
    text-align: center;
}